---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-gradient-to-br from-purple-600 to-red-500">
		<div class="max-w-2xl mx-auto flex flex-col items-center justify-center min-h-screen ">
			<h1 class="text-4xl px-3 mb-10 font-bold text-white">What will you build today?</h1>
			<div class="grid md:grid-cols-2 items-center gap-3">
			
			</div>
		</div>

	</body>
</html>
